<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test" preserve-order="false">
    <classes>
      <class name="domain.UserTest"/>
      <class name="domain.ProductTest"/>
      <class name="service.implementation.SimpleProductManagerTest"/>
      <class name="web.controllers.InventoryControllerTest"/>
      <class name="behavior.homeTest"/>
      <class name="behavior.loginTest"/>
      <class name="service.implementation.UserManagerImplTest"/>
      <class name="behavior.indexPilotTest"/>
      <class name="repository.implementation.JdbcProductDaoTest"/>
      <class name="repository.implementation.UserDaoImplTest"/>
    </classes>
  </test>
</suite>
