<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
	<parameter name="selenium.host" value="localhost" />
  	<parameter name="selenium.port" value="3737" />
  	<parameter name="selenium.browser" value="*firefox" />
  	<parameter name="selenium.url" value="http://demo.opensourcecms.com/wordpress/" />
  <test name="Test" preserve-order="false">
    <classes>
      <class name="domain.UserTest"/>
      <class name="domain.ProductTest"/>
      <class name="service.implementation.SimpleProductManagerTest"/>
      <class name="service.implementation.UserManagerImplTest"/>      
      <class name="repository.implementation.JdbcProductDaoTest"/>
      <class name="repository.implementation.UserDaoImplTest"/>
      <class name="web.controllers.InventoryControllerTest"/>
      <class name="behavior.homeTest"/>
      <class name="behavior.loginTest"/>
      <class name="behavior.InventoryTest"/>
    </classes>
  </test>
</suite>
